body {
  background: tomato; }

#board {
  display: flex;
  height: 85vh; }

.card {
  border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  box-shadow: -1px 10px 18px -4px rgba(0, 0, 0, 0.75);
  background-color: gold;
  text-align: center;
  width: 25vw; }

.queue {
  align-content: center;
  width: 32vw; }

.progress {
  width: 32vw;
  display: inline; }

.done {
  width: 32vw; }
